.moto {

    text-align: center;
    margin: 10px;
    padding: 8px;
}

.Calendario {
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;

}

.Calendario .info h4 {
    color: red;
    font-weight: 100;
    font-style: italic;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.Calendario .info p {
    font-size: 15px;
    line-height: 17px;
}

.Calendario:nth-child(even) {
    flex-direction: row-reverse;
}